body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    cursor: crosshair;
}

#game {
    width: 96vw;
    height: 92vh;
    background: #222;
    position: relative;
    cursor: crosshair;
    border: 2px solid white;
}

.target {
    background-image: url("images/target.jpg");
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: crosshair;
}