body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    cursor: crosshair;
}

#game {
    width: 96vw;
    height: 92vh;
    background: #222;
    position: relative;
    cursor: crosshair;
    border: 2px solid white;
}

#hud {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

#pause {
    display: grid;
    width: 300px;
    height: 100vh;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}

#restart {
    display: flex;
    width: 100px;
    height: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

#restartText {
    display: flex;
    width: 100px;
    height: 40px;
    font-size: 30px;
}

.target {
    background-image: url("images/target.jpg");
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: crosshair;
}